<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
    <a class="navbar-brand fw-bold" href="{% url 'dashboard' %}">
        <i class="fa-solid fa-truck-fast me-2"></i>
        TransitOps
    </a>

    <div class="ms-auto d-flex align-items-center">

        {% if user.is_authenticated %}
            <span class="text-white me-3">
                <i class="fa-solid fa-user me-1"></i>
                {{ user.username }}
            </span>

            <a href="{% url 'logout' %}" class="btn btn-outline-light btn-sm">
                <i class="fa-solid fa-right-from-bracket me-1"></i>
                Logout
            </a>
        {% endif %}

    </div>
</nav>